[submodule "themes/parsa-hugo"]
	path = themes/parsa-hugo
	url = git@github.com:themefisher/parsa-hugo.git
[submodule "content"]
	path = content
	url = git@github.com:astrologr/content.git
[submodule "static"]
	path = static
	url = git@github.com:astrologr/static.git
